<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.captain.smartbridge">

    <!-- 申请必要的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".UI.Activity.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--设置高德地图key-->
        <!--android:value="f2f543173f91b5be845ab3672af9ad22"-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b803c107cc22ef92ab4649919e5d8314"/>
        <!--声明定位service-->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name=".UI.Activity.MainActivity"
            android:label="@string/app_name_ch">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".UI.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.SearchActivity"
            android:label="@string/search">
        </activity>
        <activity
            android:name=".UI.Activity.UserActivity"
            android:label="用户信息">
        </activity>
        <activity
            android:name=".UI.Activity.AboutActivity"
            android:label="关于">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectActivity"
            android:label="检测管理">
        </activity>
        <activity
            android:name=".UI.Activity.BridgeActivity"
            android:label="桥梁详情">
        </activity>
        <activity
            android:name=".UI.Activity.NearbyActivity"
            android:label="附近桥梁">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectStatusActivity"
            android:label="检测任务状态">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectInfoActivity"
            android:label="检测任务详情">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DeCreateActivity"
            android:label="新建检测任务">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectSummaryActivity"
            android:label="已完成任务汇总">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectRecieveActivity"
            android:label="检测任务接收">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectRecieveInfoActivity"
            android:label="接收任务详情">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DeEntryActivity"
            android:label="检测任务录入">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectEntryInfoActivity"
            android:label="录入任务详情">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DetectEntryActivity"
            android:label="病害录入">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.EntryBuildActivity"
            android:label="上部构件病害录入">
        </activity>
        <activity
            android:name=".UI.Activity.Detect.DeEntryInfoAcitivity"
            android:label="病害录入">
        </activity>


        <activity
            android:name=".UI.Activity.Monitor.MonMessActivity"
            android:label="桥梁监测">
        </activity>
        <activity
            android:name=".UI.Activity.Monitor.SensorAcitivty"
            android:label="桥梁传感器信息">
        </activity>
        <activity
            android:name=".UI.Activity.Monitor.SensorCurveActivity"
            android:label="传感器信息">
        </activity>

        <activity
            android:name=".UI.Activity.Evalute.EvMessActivity"
            android:label="评估决策">
        </activity>
        <activity
            android:name=".UI.Activity.Evalute.EvalActivity"
            android:label="桥梁状态评估">
        </activity>

    </application>

</manifest>